html, body{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}

#container {
    width: 80vw;
    margin: auto;
}

header {
    height: 300px;
    background-image: url(images/first-website-header.png);
    background-size: cover;
    position: relative;
}

#tartalom {
    width: 60vw;
    margin: auto;
}

aside {
    background-color: #333;
    color: white;
    padding: 30px;
    font-family: 'Abril Fatface', serif;
    font-size: 24pt;
    position: relative;
}

h1{
    font-size: 36pt;
    margin: 0;
    
}

#koszonto{
    position: absolute;
    left:180px;
    top: 160px;
    font-family: 'Abril Fatface', serif;
    font-weight: lighter;
}

h2{
    padding: 0;
    margin: 0;
}

p{
    font-family: 'Merriweather', serif;
}

#idezojel{
    position: absolute;
    top: 0;
    left: 0;
}